.up-down, .extend-retract, .grip {
    display:flex;
    flex-direction: column;
    width: 130px;
}

.wasd {
    margin-left: 100px;
}

.forward {
    margin: auto;
}

.left-right {
    margin-left: -70px;
}

body #teleop {
    display:flex;
    justify-content: center;
}